/* tag selector */

body {
    color: #393E46;
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    color: #00ADB5;
    font-size: 5.625rem;
    font-family: 'Bebas Neue', cursive;
    margin: 50px auto 0 auto;
    opacity: 0.6;
}

h2 {
    color: #00ADB5;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.7;
    padding: 20px;
}

h3 {
    color: #222831;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 200%;
}

hr {
    border: dotted #222831;
    opacity: 0.7;
    border-width: 6px 0px 0px 0px;
    width: 5%;
    margin: 100px auto;
}

a {
    color: #222831;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: white;
}


/* class selector */

.bold {
    text-decoration: underline;
    font-weight: bolder;
}

.top-container {
    background-color: #EEEEEE;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    padding: 100px 0 100px 0;
}

.bottom-container {
    background-color: #a1a1a1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.photo {
    height: 200px;
    width: 200px;
    padding: 20px 0 20px 0;
}

.my-title {
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 10px auto 0 auto;
}

.intro {
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

.skill-row {
    margin: 70px auto;
    width: 50%;
    text-align: left;
}

.photo1 {
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 30px;
}

.photo2 {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
}

.contact-me {}

.contact-message {
    width: 30%;
    margin: 40px auto 60px;
}

.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #666666;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #222831;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #393E46;
    text-decoration: none;
}

.foot {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    color: white;
}

.footer-link {
    margin: 20px;
}